<form class="form-signin" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
  <p>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" formControlName="username" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
  </p>
  <p>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" formControlName="password" id="inputPassword" class="form-control" placeholder="Password" required>
  </p>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  <a href="/register" class="btn btn-lg btn-secondary btn-block">Register</a>
</form>
