<div class="container">
  <div class="row">
    <a href="/parents" class="btn btn-lg btn-secondary btn-block">Back to parent desk</a>

    <a href="/history/{{child?.id}}" class="btn btn-lg btn-secondary btn-block">History desk</a>

    <div class="col-sm">
      <h3>Child</h3>
      <table class="table">
        <thead>
        <tr>
          <th>Name</th>
          <th>E-mail</th>
          <th>Gender</th>
          <th>Birth date</th>
          <th>Points</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>{{child?.name}}</td>
          <td>{{child?.email}}</td>
          <td>{{child?.gender}}</td>
          <td>{{child?.birthDate}}</td>
          <td>{{child?.points}}</td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="col-sm">
      <h3>Tasks to do</h3>
      <table class="table">
        <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Points</th>
          <th>Start date</th>
          <th>Expected date</th>
          <th>Done</th>
          <th>Finish date</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let taskToDo of tasksToDo">
          <td>{{taskToDo.taskView.name}}</td>
          <td>{{taskToDo.taskView.description}}</td>
          <td>{{taskToDo.taskView.points}}</td>
          <td>{{taskToDo.startDate}}</td>
          <td>{{taskToDo.expectedDate}}</td>
          <td>{{taskToDo.done}}</td>
          <td>{{taskToDo.finishDate}}</td>
          <td>
            <a href="/children/{{childId}}/tasksToDo/update/{{taskToDo.id}}" class="btn btn-lg btn-secondary btn-block">update</a>
            <a href="/children/{{childId}}/tasksToDo/delete/{{taskToDo.id}}" class="btn btn-lg btn-secondary btn-block">delete</a>
            <button (click)="onSubmit(taskToDo.id)" class="btn btn-lg btn-primary btn-block" type="button">Approve
            </button>
          </td>
        </tr>
        </tbody>
      </table>
      <a href="/tasks" class="btn btn-lg btn-secondary btn-block">Add task to do for child</a>
    </div>

    <div class="col-sm">
      <h3>Rewards</h3>
      <table class="table">
        <thead>
        <tr>
          <th>Name</th>
          <th>Image</th>
          <th>Points</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let reward of rewards">
          <td>{{reward.name}}</td>
          <td>
            <img src="{{reward.url}}" alt="offer image" height="100" width="100">
          </td>
          <td>{{reward.points}}</td>
          <td>
            <a href="/rewards/update/{{reward.id}}" class="btn btn-lg btn-secondary btn-block">To buy</a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
